animales.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Mascota">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="idAnimal">
					<xs:simpleType>
						<xs:restriction base="xs:integer" />
					</xs:simpleType>
				</xs:element>
				<xs:element name="Nombre">
					<xs:simpleType>
						<xs:restriction base="xs:integer" />
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>